$dark-blue:#1b2430;
$blue-800:#00b9ff;

$gray-500:#6d6d6d;
$line-color:#EAEAEA;
$card-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.1);

$smooth:linear 0.3s all;

// media 
$xxl:1500px;
$xl:1200px;
$lg:1024px;
$md:991px;
$xs:768px;
$sm:576px;
